fastapi
uvicorn
pydantic
websockets
pypdf
python-jose[cryptography]
passlib[bcrypt]
bcrypt
psycopg2-binary
sqlalchemy
langgraph
langchain-ollama
python-multipart
requests
PyYAML>=6.0.1
pandas
numpy
openpyxl
xlrd
matplotlib
seaborn